@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shopping List App</h1>
       
    <a href="/Items" class="btn btn-primary">Go to the Shopping List</a>


</div>
